body {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('fontana.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-size: 100% 100%;
}

button {
    background-color: rgb(192, 134, 13);
    font: bold 10px;
    text-align: center;
    border-radius: 1px;
    border-color: white;
    transition-duration: 0.4s;
}

button:hover {
    background-color: rgb(192, 134, 13);
    color: white;
}

#playBtn {
    padding: 6px 20px;
    margin-left: 550px;
    margin-top: 0px;
}

#pauseBtn {
    padding: 6px 20px;
    margin-left: 20px;
    margin-top: 0px;
}

.center {
    margin-left: auto;
    margin-right: auto;
    display: block;
}